:root.theme-light {
  --cover-image: url(../images/cover-image-light.png);
  --accent-text-color: #FFC2E6;
  --decorative-corner: #353430;
  --accent-color: #FF8DCB;
  --accent-color-text-decor: #353430;
  --accent-color-background-decor: #FF8DCB;
  --button-hover-color: #32312D66;
  --menu-color: #353430;
  --accent-button-color: #353430;
  --title-header-part-color:  #353430;
  --accent-color-link:  #353430;
  --accent-shadow-color-link: #F1B2CE;
  --accent-color-chapter-text: #353430;
  --accent-color-bg-page: #FFF1F7;
  --accent-shadow-color: #FF8DCB;
  --rec-decorative-visibility: hidden;
}

@media (prefers-color-scheme: light) {
  :root {
  --cover-image: url(../images/cover-image-light.png);
  --accent-text-color: #FFC2E6;
  --decorative-corner: #353430;
  --accent-color: #FF8DCB;
  --accent-color-text-decor: #353430;
  --accent-color-background-decor: #FF8DCB;
  --button-hover-color: #32312D66;
  --menu-color: #353430;
  --accent-button-color: #353430;
  --title-header-part-color:  #353430;
  --accent-color-link:  #353430;
  --accent-shadow-color-link: #F1B2CE;
  --accent-color-chapter-text: #353430;
  --accent-color-bg-page: #FFF1F7;
  --accent-shadow-color: #FF8DCB;
  --rec-decorative-visibility: hidden;
  }
}
