:root {
  --page-font: 'IBM Plex mono';
  --size-text-title-mobile: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --size-text--title-desktop: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  --decorative-corner: #FF0070;
  --gap: 20px;
  --cover-image: url(../images/cover-image-dark.png);
  --decoration-rec-icon: #FF0070;
  --accent-text-color:  #DB00FF;
  --accent-color: #FF0070;
  --accent-color-text-decor: #000028;
  --accent-color-bg-page: #000028;
  --accent-color-background-decor: #FF0070;
  --button-hover-color: #FF007066;
  --menu-color: #FF0070;
  --accent-button-color: #FF0070;
  --title-header-part-color: #FF0070;
  --accent-color-link: #F1B2CE;
  --accent-shadow-color-link: #FF0070;
  --accent-color-chapter-text: #F1B2CE;
  --accent-shadow-color: #FF0070;
  --rec-decorative-visibility: visible;
}

